@font-face {
    font-family: "lato";
    src: url(./fonts/Lato/Lato-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "latoR";
    src: url(./fonts/Lato/Lato-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./img/BG.jpg");
    min-height: 100vh;
    width: 100%;
    font-family: lato;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100%;
    min-height: 100vh;
}

    section .calcHolder {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 500px;
        background: red;
    }

        section .calcHolder .cDisplay {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            color: white;
            background: black;
            padding: 8% 5% 8% 5%;
        }

            section .calcHolder .cDisplay h4 {
                font-size: 1.2em;
                font-weight: 100;
                color: #d98192;
            }

            
            section .calcHolder .cDisplay h2 {
                font-size: 2em;
                    font-weight: 100;
            }

        section .calcHolder .cButtons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            height: 75%;
            cursor: pointer;
         
        }

            section .calcHolder .cButtons .button {
                width: 25%;
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: lato;
                font-size: 1.2em;
                background: white;
            }



            
